:root {
    --header: red;
}

* {
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

#search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90px;
}

#search-text {
    display: flex;
}

#user-selection {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    height: 200px;
    width:  250px;
}

p {
    display: flex;
    justify-content: center;
}

#parameters-boolean-values {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#parameters-four-values {
    display: flex;
    flex-direction: column;
}

.all-parameters {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 35px; 
    width: 75px;
}

#four-values-append-sunlight {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#four-values-append-cycle {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#four-values-append-watering {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    display:flex;
    justify-content: center;
}

#append-search-items-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#append-search-items-button-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -36px;
}

#page-button {
    display: flex;
    justify-content: center;
    height: 22px;
    width: 22px;
}

#page-button-minus {
    height: 56px;
    width: 22px;
}

#page-button-plus {
    height: 56px;
    width: 22px;
}

button:focus {
    outline: none;
    border-color: #8ac4ff;
}